* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* dark themed body */
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Poppins", sans-serif;
  /* center everthing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  padding-top: 5em;
  overflow-y: scroll;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  height: 50vh;
  overflow: auto;
  padding: 1em 0;
  border: 0.25em solid black;
}

.video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8em;
  width: 80%;
  background-color: #555;
  border: #1e1e1e solid 1px;
  padding: 1em;
  border-radius: 0.5em;
}
