.error {
  color: rgb(255, 255, 255);
  font-weight: 600;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.error h1 {
  font-size: 1.5em;
  font-weight: 400;
  background-color: #1e1e1e;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #f00;
}
.error span {
  font-size: 0.75em;
  font-weight: 400;
  background-color: #1e1e1e;
  padding: 1em;
  border-radius: 5px;
}

/* dark themed inputs */
input {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
/* dark themed buttons with bubble on click */
button {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #fff;
  color: #1e1e1e;
}
button:active {
  background-color: #fff;
  color: #1e1e1e;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

/* alight all the headings to the center */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
